	</style

		img {
width: 300px;}
border dotted beige
border-radius: 50%
		}
@charset "utf-8";
/* CSS Document*/ 

body   {
	background-color: black;
}
h2 {
	color: black;
	text-decoration: inherit 5px black;
}
